:root {
  --black: #2d2c2c;
  --fontGloria: 'Gloria Hallelujah', cursive;
  --block: block;
  --auto: auto;
  --center: center;
  --fontSize: 20px;
}

body {
  background: #cb6bff;
  overflow-y: hidden;
}


p {
  color: var(--black);
}

header h1 {
  text-align: var(--center);
  font-family: var(--fontGloria);
}
header .size {
  background: none;
  width: 10%;
  border:1px solid #fff;
  color: var(--black);
  display: var(--block);
  margin: var(--auto);
}

header .game-over {
  text-align: var(--center);
  margin-top: -15px;
  font-size: var(--fontsize);
  font-family: var(--fontGloria);
}

header > .container {
  display: flex;
  justify-content: var(--center);
  margin-top: 5px;
  padding-left: 20%;
  padding-right: 20%;
}
header > .container > .btn-new-game {
  height:45px;
  width: 15%;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  border-radius: 10px;
  font-family: var(--fontGloria);
  cursor:pointer;
  margin-left: 80px;
  margin-top: 10px;
}
header > .container > .player-score {
  text-align: var(--center);
  font-family: var(--fontGloria);
  font-size: var(--fontsize);
  padding-left: 10px;
}
header > .container > .player-record {
  text-align: var(--center);
  font-family: var(--fontGloria);
  font-size: var(--fontsize);
  background-color: #A4A4A4;
  border-radius: 5px;
  color: #fff;
  width: 30%;
  margin-left: 80px;
}
.title-arrow {
  text-align: var(--center);
  margin-top: 15px;
  font-size: var(--fontsize);
  font-family: var(--fontGloria);
}

section > canvas {
  -moz-animation: changeBackground 10s infinite;
  -webkit-animation: changeBackground 10s infinite; 
  display: var(--block);
  margin: var(--auto);
  margin-top: 5px;
}
@keyframes changeBackground
{
  0%   {background: #F5D0A9;}
  25%  {background: #F2F5A9;}
  50%  {background: #BCF5A9;}
  75%  {background: #A9F5F2;}
  100% {background: #A9A9F5;}
}

section > .horizontal-center {
  display: flex;
  justify-content: var(--center);
}

section > .dir-up,
section > .dir-left,
section > .dir-right,
section > .dir-down {
  cursor: pointer;
}

section > .float-right {
  float: right;
}

section > .vertical-center {
  display: flex;
  justify-content: center;
  margin-top: -360px;
}

section > .vertical-center > .dir-right {
  margin-left: 520px;
}
